$duration: 0.3s;
$color: #EF5A31;

* { box-sizing: border-box; }

html {
	height : 100%;
}
body {

	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.4;
	background-image: url("http://4.bp.blogspot.com/-cwCqETVBFTs/U2352w2C2vI/AAAAAAAALmo/tqDxJ_RfHd4/s1600/obama-new-world-order.jpg");
	background-attachment: fixed;
	width: auto;
	height: auto;
}

head {
	width: 100%;
	border: solid 1px green;
}

.avatar {
	margin-left: 10px;
}

.card1 {
	width: 370px;
	position: absolute;
	overflow: hidden;
	top: 60%;
	left: 50%;
	transform: translateX(-180%) translateY(-50%);
	background-color: #fff;
	box-shadow: 0px 0px 20px;
	transition: box-shadow 0.3s;

}

.card2 {
	width: 370px;
	position: absolute;
	overflow: hidden;
	top: 60%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	background-color: #fff;
	box-shadow: 0px 0px 20px;
	transition: box-shadow 0.3s;

}

.card3 {
	width: 370px;
	position: absolute;
	overflow: hidden;
	top: 60%;
	left: 50%;
	transform: translateX(80%) translateY(-50%);
	background-color: #fff;
	box-shadow: 0px 0px 20px;
	transition: box-shadow 0.3s;

}

.a_card{
		color: inherit;
		text-decoration: none;
}


.card1:hover{
	box-shadow: 0px 0px 50px;
}

.card2:hover{
	box-shadow: 0px 0px 50px;
}

.card3:hover{
	box-shadow: 0px 0px 50px;
}

.card__date {
	position: absolute;
	top: 20px;
	right: 20px;

	width: 50px;
	height: 50px;
	padding-top: 13px;

	color: #fff;
	text-align: center;
	line-height: 16px;
	font-weight: bold;

	background-color: #f05d23;
	border-radius: 50%;

}

.card__date__day {
	display: block;
	font-size: 18px;
}

.card__date__month {
	display: block;
	font-size: 8px;
	text-transform: uppercase;
}

.card__thumb {
	height: 235px;
	overflow: hidden;
	background-color: #000;
	transition: height 0.3s;

}

.image_thumb{
	display: block;
	opacity: 1;
	transition-property: opacity, transform;
	transition-duration:  0.3s;
}

.image_thumb:hover{
	opacity: 0.6;
	transform: scale(1.2);
}

.card__thumb:hover & img{
	opacity: 0.6;
	transform: scale(1.2);
}

.card__thumb:hover {
	height: 90px;
}


.card1:hover .card__thumb img {
	opacity: 0.7;
}

.card2:hover .card__thumb img {
	opacity: 0.7;
}

.card3:hover .card__thumb img {
	opacity: 0.7;
}

.card__body {
	position: relative;
	padding: 20px;
	height: 185px;
	transition: height 0.3s;
}

.card__body:hover {
	height: 330px;
}

.card__category {
	position: absolute;
	left: 0;
	top: -25px;

	height: 25px;
	padding: 0 15px;

	color: #fff;
	text-transform: uppercase;
	font-weight: bold;

	background-color: #f05d23;
}

.card__title {
	margin: 0;
	padding: 0 0 10px 0;

	font-size: 22px;
	font-weight: bold;
	color: #000;
	opacity:0.6;
	text-decoration: none;
	text-shadow: 0px 5px 5px rgba(0,0,0,0.6);
	transition: text-shadow 0.3s;
}

.card__title:hover {
	text-shadow: 0px 0px 0px rgba(0,0,0,0);
	opacity: 1;
}

.card__subtitle {
	margin: 0;
	padding: 0 0 10px 0;

	font-size: 19px;
	color: #f05d23;
}

.card__description{

	color: #666c74;
	font-size: 14px;
	line-height: 27px;

	opacity: 0.2;
	transition: opacity 0.3s;
}

.card__description:hover {
	opacity: 1;
}

.card__footer{
	position: absolute;

	font-size: 11px;
	color: #A3A9AB
}

.icon {
	display: inline-block;
	vertical-align: middle;
}

.icon--comment {
	background: url(../images/icon-comment.png);
	width: 14px;
	height: 14px;
	margin-left: 12px;
	padding-right: 3px;
}

.icon--like {
	background: url(../images/icon-like.png);
	width: 14px;
	height: 14px;
	padding-right: 3px;
}


nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: rgb(250, 244, 244) ;
	opacity: 0.6;
	width: 100% !important;
	border: solid 1px green;
	/*margin: -5px 0px 10px 0px;*/

}

.footer {

	position: fixed;
/*	top: 100%;
	left: 50%;*/
	left: 0;
   	bottom: 0;
   	width: 100%;
   	height: 3em;
/*	transform: translateX(-50%) translateY(-50%);
*/	box-shadow: inset 0 0 7em #f0f7ffd7;
	display: flex;
	justify-content: center;

}

/*.facebook {
	margin-right: 75px;
}*/


.navbar5  {
	display: flex;
	align-items: center;
}

.title {
	
	text-align: center;
}

#wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 65%;
}

a {
	text-decoration: none;
	color: grey;
}

a:hover {
	text-decoration: none;
}

.bouton span {
	color: #fff;
	display: inline-block;
	padding: 10px 15px;
	border-radius: 6px;

}


.wrap-bouton {
	position: absolute;
	top: 130px;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.btn-red {
	margin-right: 75px;
	background-color: red;
	opacity: 0.5;
	border-radius: 25%;
	display: inline-block;
	box-shadow:
		0 4px 0 red,
		0 20px 15px black;
	transition: 0.3s;
}

.btn-blue {
	background-color: blue;
	border-radius: 25%;
	opacity: 0.5;
	display: inline-block;
	box-shadow:
		0 4px 0 blue,
		0 20px 15px black;
	transition: 0.3s;
}

.btn-blue:hover {
	box-shadow:
		0 2px 0 blue,
		0 15px 12px black;
	transform: translate(0,10px);
}


.btn-red:hover {
	box-shadow:
		0 2px 0 red,
		0 15px 12px black;
	transform: translate(0,10px);

}

.menu1 {
	height: 63px;
	width: 72px;
	transition: 0.3s;
}
.menu1:hover {
	background-image: url(../images/illuminati.png);
	color: rgba(0,0,0,0%);
	border-radius: 1px;
	height: 63px;
	text-transform: opacity 0;
}

.menu2 {
	height: 63px;
	width: 72px;
	transition: 0.3s;
}
.menu2:hover {
	background-image: url(../images/freemason.png);

	border-radius: 1px;
	height: 63px;
	text-decoration-color: none;

}

.menu3 {
	height: 63px;
	width: 72px;
	transition: 0.3s;
}
.menu3:hover {
	background-image: url(../images/pentacle.png);

	border-radius: 1px;
	height: 63px;
	text-decoration-color: none;

}

